body {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    /*background-image: url("https://s4.postimg.org/5f7rtd9wb/shopping-malls-day-and-night-3d-model-max.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100%;*/
    /*background-color: #000000;*/
}

#price {
    width: 21%;
    margin-left: 15px;
}

.container {
    max-width: 80%;
}

.selectContainer {
    margin-bottom: 15px;
}

.not-empty {
    margin-bottom: 15px;
    color: #fe0000;
}