body {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#price {
    width: 21%;
    margin-left: 15px;
}

.container {
    max-width: 80%;
}

.selectContainer {
    margin-bottom: 15px;
}

.not-empty {
    margin-bottom: 15px;
    color: #fe0000;
}