body {
    text-align: justify;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#registration-form {
    text-align: center;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}

.tg td {
    font-family: "Times New Roman", sans-serif;
    font-size: 14px;
    padding: 2px 3px;
    border-style: none;
    overflow: hidden;
    word-break: normal;
}

.tg .empty {
    font-size: 13px;
    font-family: "Times New Roman", Times, serif !important;;
}

.tg .description {
    font-size: 16px;
    font-family: "Times New Roman", Times, serif !important;;
}

.tg .err {
    font-size: 13px;
    text-align: center;
    font-family: "Times New Roman", Times, serif !important;;
    color: #fe0000;
}